<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="css/style.css">
  <title>{{ title }}</title>
</head>

<body>

  <header>
    <h1> {{ title }}</h1>
  </header>

  <main>
    <article>
      {{ content | safe }}
    </article>
  </main>

  <footer>
    <p>&copy; 2024 RJ</p>
  </footer>

</body>

</html>
